* {
  margin: 0;
  padding: 0;
}

.contenedor {
  margin: 0 auto;
  position: static;
}

@media screen and (max-width: 950vh) {
  body {
    min-height: 80vh;
    width: 55%;
    margin-left: 25%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-style: italic;
    display: flex;
  }
}

img {
  width: 68%;
  height: 85%;
  margin-left: 9%;
  margin-top: 4%;
  border-radius: 50%;
}
.Date {
  font-size: 1, 4em;
  margin-bottom: 6%;
}

.left {
  float: left;
  height: 55em;
  width: 37%;
  background-color: rgb(214, 200, 196);
  display: grid;
}

.sidebar {
  text-align: justify;
  padding: 8%;
  margin-bottom: 60%;
}

a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}

.table-1 {
  position: relative;
  bottom: 130%;
  margin-right: 4em;
  margin-left: 3%;
  background-color: rgb(158, 147, 147);
}
.table-2 {
  position: relative;
  bottom: 90%;
  margin-left: 3%;
  margin-right: 4em;
  background-color: rgb(158, 147, 147);
}
.name {
  color: rgb(192, 31, 31);
  display: inline-flex;
  font-size: 140%;
  margin-top: 5%;
  margin-left: 7%;
}
h3 {
  display: inline-flex;
  margin-top: 2%;
  font-size: 1, 5em;
  margin-left: 8%;
}
.h {
  display: inline-flex;
  margin-top: 8%;
  margin-bottom: 1%;
  color: rgb(192, 31, 31);
  margin-left: 5%;
}
.goals {
  text-align: justify;
  margin-left: 20em;
  margin-right: 1em;
}
.studies {
  display: inline-flex;
  margin-top: 4%;
  margin-bottom: 1%;
  color: rgb(192, 31, 31);
  margin-left: 5%;
}
.article {
  text-align: justify;
  margin-left: 20em;
  margin-right: 9em;
}
.experience {
  display: inline-flex;
  margin-top: 4%;
  margin-bottom: 1%;
  margin-left: 5%;

  color: rgb(192, 31, 31);
}
.Job {
  text-align: justify;
  margin-left: 20em;
  margin-right: 9em;
}
.Box {
  display: inline-flex;
  margin-top: 4%;
  margin-bottom: 1%;
  margin-left: 5%;
  color: rgb(192, 31, 31);
}
.lang {
  text-align: justify;
  margin-left: 20em;
  margin-right: 9em;
  margin-bottom: 3%;
}
